---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Countdown from '../components/Countdown.astro';
import ProgramaFiestas from '../components/ProgramaFiestas.astro';
import GaleriaFiestas from '../components/GaleriaFiestas.astro';
import Ubicacion from '../components/Ubicacion.astro';
import Patrocinadores from '../components/Patrocinadores.astro';
import Contacto from '../components/Contacto.astro';
import Petanca from '../components/Petanca.astro';
import Artistas from '../components/Artistas.astro';
---

<Layout title="Fiestas de Las Terreras">
  
  <div class="flex flex-col min-h-[100dvh] w-full overflow-x-hidden">
    
    <main class="flex-1">
      <Hero />
      <ProgramaFiestas />
       <!--<Artistas /> -->
      <Petanca />
      <Ubicacion />
      <GaleriaFiestas />
      <Patrocinadores />
      <Contacto />
    </main>
  </div>
</Layout>
