---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ProgramaPreFiestas from "../components/ProgramaPreFiestas.astro";
import ProgramaFiestas from "../components/ProgramaFiestas.astro";
import GaleriaFiestas from "../components/GaleriaFiestas.astro";
import Ubicacion from "../components/Ubicacion.astro";
import Patrocinadores from "../components/Patrocinadores.astro";
import Contacto from "../components/Contacto.astro";
import Eventos from "../components/Eventos.astro";
import Artistas from "../components/Artistas.astro";
import Concentracion from "../components/Concentracion.astro";
---

<Layout
  title="Fiestas de Las Terreras 2026–Programa y Galería"
  description="Consulta el programa completo, la galería, los patrocinadores y la ubicación de las Fiestas de Las Terreras 2026."
>
  <div class="flex flex-col min-h-dvh w-full overflow-x-hidden">
    <main class="flex-1">
      <Hero />
      <ProgramaPreFiestas />
      <ProgramaFiestas />
      <Artistas />
      <Concentracion />
      <!-- <Eventos /> -->
      <Ubicacion />
      <GaleriaFiestas />
      <!-- <Patrocinadores /> -->
      <Contacto />
    </main>
  </div>
</Layout>
