<footer class="w-full bg-white py-6 text-center text-gray-600 text-sm mt-auto">
  Desarrollado con ❤️ por
  <a href="https://adrianporlan.com" target="_blank" rel="noopener noreferrer" class="text-rose-600 hover:underline font-semibold">Adrian Porlan</a>
</footer>
