---
import "../styles/global.css"; // Importa los estilos globales de Tailwind CSS
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <link rel="icon" type="image/jpeg" href="/favicon.jpg" />
    <meta charset="UTF-8" />
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="e0ae2db4-7bbb-480f-ae2e-fe23db8b011f"></script>
    <Head />
  </head>
  <body
    class="bg-white text-gray-900 transition-colors duration-300 min-h-screen"
  >
    <Header />
    <main class="pt-16">
      <slot />
    </main>
    <Footer />
  </body>
</html>
